.container {
  display: flex;
  align-items: center;
  position: relative;
}

.token0 {
  z-index: 2;
  box-shadow: 0 0 0 2px var(--color-surface);
}

.token1 {
  margin-left: -8px;
  z-index: 1;
  box-shadow: 0 0 0 2px var(--color-surface);
}
